 @media screen and ( max-width:576px ) {
    nav{
        justify-items:flex-end;
        align-items: center;
    }
    .menu-icon{
        display: block;
    } 
    .Nav-link{
        display: none;
    }
 }