 @media screen and ( max-width:576px ) {
    .Nevigation-bar{
        padding: 52px 20px 0 20px;
    }
    .menu-icon{
        display: block;
    }
    .Nav-link{
        display: none;
    }
    .bg-header,
    .Run-cointainer{
        flex-direction: column;
    }
    .hero-Container{
       padding: 0 20px 0 20px;
    }
    .speacial-btn2{
        margin-left: 190px;
        margin-top:-350px;
    }
    .speacial-btn{
        margin-top: -340px;
        margin-left: 32px;
    }
    .hero-Title{
        font-size: 36px;
        margin-bottom: 36px;
        font-family: Inter;
        margin-top: 51px;
    }
    .habit{
        margin-top:500px;
        margin-left: 28px;
        margin-right: 28px;
    }
    .Habit-container{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .habit-title,
    .BMI-Cal-Title{
        font-size: 32px;
    }
    .image-container{
        margin-bottom: 40px;
    }
    .Run-image{
        width: 287px;
        height: 170px;
    }
    .Run-cointainer{
        margin: 0 auto;
        padding: 15px;
        margin: 0 30px 30px 30px;
    }
    .Run-Descrip-container{
        width: 300px;
        height: 264px;
        margin-bottom: 50px;
    }
    .BMI-Calculator{
       padding: 30px 20px 0 20px;
    }
    
 }